<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dotaanalytics.mapper.HeroMapper">

    <resultMap id="heroResultMap" type="com.dotaanalytics.model.Hero">
        <id property="id" column="id" />
        <result property="opendotaId" column="opendota_id"/>
        <result property="name" column="name"/>
        <result property="localizedName" column="localized_name"/>
        <result property="primaryAttr" column="primary_attr"/>
        <result property="attackType" column="attack_type"/>
        <result property="roles" column="roles"/>
    </resultMap>

    <select id="getAllHeroes" resultMap="heroResultMap">
        SELECT id, opendota_id, name, localized_name, primary_attr, attack_type, roles
        FROM heroes
    </select>

</mapper>